@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .gothic {
        font-family: 'Raleway', sans-serif;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@layer components {
    .neumorphism {
        background: linear-gradient(225deg, #83a59d, #6e8b84);
        box-shadow: -5px 5px 16px #5f7873,
                    5px -5px 16px #95bcb3;
    }
}